#!/usr/bin/make -f
DEB_VERSION=$(shell dpkg-parsechangelog | sed -rne 's,^Version: ([^-]+).*,\1,p')
ORIG_SRC=https://github.com/WindowsAzure/WALinuxAgent

get-packaged-orig-source:
	git clone --separate-git-dir=walinuxagent.checkout \
		$(ORIG_SRC) orig_source
	git checkout -b tags/$(DEB_VERSION)
	git archive --format=tar.gz WALinuxAgent-$(DEB_VERSION) \
		-o walinuxagent_$(DEB_VERSION).orig.tar.gz
	rm -rf walinuxagent.checkout
	rm -rf orig_source

%:
	dh $@ --with python3,systemd --buildsystem=pybuild


override_dh_installinit:
	dh_installinit --no-restart-on-upgrade --name walinuxagent
	dh_installinit --no-restart-on-upgrade --name ephemeral-disk-warning

override_dh_systemd_enable:
	dh_systemd_enable --name walinuxagent walinuxagent.service
	dh_systemd_enable --name ephemeral-disk-warning ephemeral-disk-warning.service

